.outer
  .middle
    .inner.text-center
      %h1 FPR Utilities
      -if user_signed_in?
        - if can? :write, :all
          .well.well-sm{style: "display: inline-block"}
            %h3 Import data
            %ul.nav.nav-pills.nav-stacked
              %li= link_to "Import PICA evaluation data", import_evaluation_index_path
              %li= link_to "Import GPR distribution data", import_gpr_evaluation_index_path
              %li= link_to "Add Paper Evaluation", new_evaluation_path
        - if can? :read, :all
          .well.well-sm{style: "display: inline-block"}
            %h3 View data
            %ul.nav.nav-pills.nav-stacked
              %li= link_to "View Evaluation Data", evaluation_index_path
              %li= link_to "View Missing Data", missing_data_evaluation_index_path
              %li= link_to "View Faculty FPR Data", instructor_index_path
        - else
          %p= "please ask an administrator to authorize your account"
      %ul.nav.nav-pills.nav-stacked
        - if user_signed_in?
          - if can? :manage, :all
            %li= link_to "User management panel", admin_index_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign In To Begin", new_user_session_path
